{{ form_start(editAccountForm, {'attr': {'class': 'row'}}) }}
    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
        {{ form_label(editAccountForm.firstname, 'Prénom') }}
        {{ form_widget(editAccountForm.firstname) }}
        <span class="error">{{ form_errors(editAccountForm.firstname) }}</span>
    </div>
    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
        {{ form_label(editAccountForm.lastname, 'Nom') }}
        {{ form_widget(editAccountForm.lastname) }}
        <span class="error">{{ form_errors(editAccountForm.lastname) }}</span>
    </div>
    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
        {{ form_label(editAccountForm.email, 'Email') }}
        {{ form_widget(editAccountForm.email) }}
        <span class="error">{{ form_errors(editAccountForm.email) }}</span>
    </div>
    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
        <input type="submit" class="btn">Modifier</button>
    </div>    
{{ form_end(editAccountForm) }}