{{ form_start(editAccountForm, {'attr': {'class': 'col-6 offset-md-3 mb-5'}}) }}
<div class="mb-3">
	{{ form_label(editAccountForm.firstName, 'Prénom') }}
	{{ form_widget(editAccountForm.firstName, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
	{{ form_label(editAccountForm.lastName, 'Nom') }}
	{{ form_widget(editAccountForm.lastName, {'attr': {'class': 'form-control'}}) }}
</div>
<div>
	{{ form_label(editAccountForm.email, 'Email') }}
	{{ form_widget(editAccountForm.email, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="mb-3">
	<input type="submit" class="btn btn-primary" value="Modifier" formnovalidate>
</div>
{{ form_end(editAccountForm) }}
