{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div>
		<h1 class="text-center my-5">Admin Dashboard</h1>

		<div class="row my-5">
			<div class="col">
				<h5>Articles
					<span>({{ posts|length }})</sapn>
				</h5>
				<table class="table table-striped table-hover">
                    <thead class="table-info">
					    <tr>
						    <th scope="col">#</th>
						    <th scope="col">Titre</th>
						    <th scope="col">Auteur</th>
						    <th scope="col">Publication</th>
						    <th scope="col">Modification</th>
						    <th scope="col">Actions</th>
					    </tr>
                    </thead>    
                    <tbody>
					{% set i = 1 %}
					{% for post in posts %}
						<tr scope="row">
							<td>{{ i }}</td>
							<td>
								<a href="{{ path('post_show', {'id': post.id}) }}" target="_blank" class="text-decoration-none text-dark">{{ post.title }}</a>
							</td>
							<td>{{ post.user.lastName }}</td>
							<td>{{ post.publicationDate|date('d/m/Y') }}</td>
							<td>{{ post.updateDate|date('d/m/Y') }}</td>
							<td>
								<a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-success">
									<i class="far fa-edit"></i>
								</a>
								<a href="{{ path('post_delete', {'id': post.id}) }}" class="btn btn-danger">
									<i class="far fa-trash-alt"></i>
								</a>
							</td>
						</tr>
						{% set i = i+1 %}
					{% endfor %}
                    </tbody>
				</table>
			</div>
		</div>

        <div class="row my-5">
			<div class="col">
				<h5>Prenium
					<span>({{ preniumPosts|length }})</sapn>
				</h5>
				<table class="table table-striped table-hover">
                    <thead class="table-info">
					    <tr>
						    <th scope="col">#</th>
						    <th scope="col">Titre</th>
						    <th scope="col">Auteur</th>
						    <th scope="col">Publication</th>
						    <th scope="col">Modification</th>
						    <th scope="col">Actions</th>
                        </thead>    
					</tr>
                    <tbdy>
					{% set i = 1 %}
					{% for preniumPost in preniumPosts %}
						<tr scope="row">
							<td>{{ i }}</td>
							<td>
								<a href="{{ path('prenium_post_show', {'id': preniumPost.id}) }}" target="_blank" class="text-decoration-none text-dark">{{ preniumPost.title }}</a>
							</td>
							<td>{{ preniumPost.user.lastName }}</td>
							<td>{{ preniumPost.publicationDate|date('d/m/Y') }}</td>
							<td>{{ preniumPost.updateDate|date('d/m/Y') }}</td>
							<td>
								<a href="{{ path('prenium_post_edit', {'id': preniumPost.id}) }}" class="btn btn-success">
									<i class="far fa-edit"></i>
								</a>
								<a href="{{ path('prenium_post_delete', {'id': preniumPost.id}) }}" class="btn btn-danger">
									<i class="far fa-trash-alt"></i>
								</a>
							</td>
						</tr>
						{% set i = i+1 %}
					{% endfor %}
                    </tbody>
				</table>
			</div>
		</div>

		<div class="row my-5">
			<div class="col s12">
				<h5>Utilisateurs
					<span>({{ users|length }})</sapn>
				</h5>
				<table class="table table-striped table-hover">
                    <thead class="table-info">
					    <tr>
						    <th scope="col">#</th>
						    <th scope="col">Nom</th>
						    <th scope="col">Prénom</th>
						    <th scope="col">Roles</th>
						    <th scope="col">Email</th>
						    <th scope="col">Inscrit le</th>
						    <th scope="col">Actions</th>
					    </tr>
                    </thead>    
                    <tbody>
					{% set i = 1 %}
					{% for user in users %}
						<tr scope="row">
							<td>{{ i }}</td>
							<td>
								<a href="{{ path('account', {'id': user.id}) }}" target="_blank" class="text-decoration-none text-dark">{{ user.lastname }}</a>
							</td>
							<td>{{ user.firstname }}</td>
							{% if 'ROLE_ADMIN' in user.roles %}
								<td>
									<span class="badge bg-danger">admin</span>
								</td>
							{% else %}
								<td>
									<span>no admin</span>
								</td>
							{% endif %}
							<td>{{ user.email }}</td>
							<td>{{ user.creationDate|date('d/m/Y') }}</td>
							<td>
								<a href="{{ path('account_edit', {'id': user.id}) }}" class="btn btn-success">
									<i class="far fa-edit"></i>
								</a>
								<a href="{{ path('account_delete', {'id': user.id}) }}" class="btn btn-danger">
									<i class="far fa-trash-alt"></i>
								</a>
							</td>
						</tr>
						{% set i = i+1 %}
					{% endfor %}
                    </tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
