{{ form_start(form) }}
    <div>
	    {{ form_label(form.title, 'Titre') }}
	    {{ form_widget(form.title) }}
		<span class="error">{{ form_errors(form.title) }}</span>
	</div>

    <div>
	    {{ form_widget(form.image) }}
        <span>Image</span>
	</div>

	<div>
	    {{ form_label(form.content, 'Contenu de l\'article') }}
	    {{ form_widget(form.content) }}
		<span class="error">{{ form_errors(form.content) }}</span>
	</div>

	<div>
	    {{ form_label(form.categories, 'Catégories') }}
	    {{ form_widget(form.categories) }}
	</div>

	<div>
	    {{ form_label(form.author, 'Auteur') }}
	    {{ form_widget(form.author) }}
	</div>

    <div>
        {{ form_widget(form.published) }}
        <span>Publier l'article</span>
    </div>

	<div>
	    <input type="submit" name="" value="{{ formButton }}" formnovalidate>
	</div>
{{ form_end(form) }}