<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Influentia
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('./assets/css/style.css') }}"/>
		{% endblock %}
	</head>
	<body>
		{% include "base/navbar.html.twig" %}
		<main>
			<div class="container mb-5"> {% block body %}{% endblock %}
			</div>
		</main>

		<footer class="footer mt-auto py-3 bg-light">
			<p class="text-center">
				&copy; Copyright
					{{ 'now'|date('Y') }}
				&middot;
				<a href="{{ path('about') }}" class="text-decoration-none text-secondary">About</a>
			</p>
		</footer>

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
				<script src="https://kit.fontawesome.com/4c2b4e375e.js" crossorigin="anonymous"></script>
			{% endblock %}
		</body>
	</html>
